.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  display: block;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background-color: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-header__background {
  background-color: #fff;
}
.ant-table-thead{
  background-color: #DA2127 !important;
}